* {box-sizing: border-box}
html, body {margin: 0; padding: 0}
html {font-size: 10px;}
body {background: #fafafa;font: 10px 'Raleway', sans-serif;padding: 1rem}

.app {display: flex; flex-direction: column}
.renderedResults {display: flex; flex-direction: row}
.canvas {background: #fff; box-shadow: 0 5px 5px -5px #000; cursor: crosshair}
.canvasWrapper {position: relative}
.previewCanvas {opacity: .9;pointer-events: none;position: absolute}

.action {display: none;}
.actionLabel {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  line-height: 0;
  margin: 0.5rem;
  padding: 0.5rem;
}
.action:checked + label {border: 1px solid #666; box-shadow: 0 2px 2px -1px #666;}
.layers {list-style: none;margin: 0;padding: 0;}
.layer {align-items: center;display: flex}
.layerShape {border: 1px solid #ccc; border-radius: 3px}
.closeLayer {cursor: pointer}

@media (max-width: 30rem) {
  body {overflow: hidden}
  .app {flex-direction: row}
  .renderedResults {flex-direction: column}
}